.aside {
  position: absolute;
  position: fixed;
  top: 0vh;
  left: 0;
  height: 100vh;
  width: 10%;
  background-color: $DarkOcean;

  .logo-app {
    text-align: center;
    padding: 2vh 1vw;
    font-style: italic;
    color: $Green;
  }

  .nav-bar {
    width: 100%;
    height: 100%;
    position: relative;

    .navegation-content {
      width: 100%;
      height: 100%;
      margin-top: 4vh;
      list-style: none;
      display: flex;
      flex-direction: column;
      row-gap: 1.5vw;
    }

    .section {
      position: relative;
      width: 100%;

      .section-content {
        width: 100%;
        color: $White;
        font-size: 2vmin;
        padding: 1vh 0 1vh 1vw;
        text-decoration: none;

        .link a {
          text-decoration: none;
        }
      }

      &.selected {
        background: darken($color: $DarkOcean, $amount: 10);
      }
    }
  }

  .section-selector {
    width: 100%;
    display: flex;
    flex-direction: column;
    color: lighten($color: $DarkOcean, $amount: 60);
    padding: 2vh 0;
    padding-left: 10%;
    list-style: none;
    background: darken($color: $DarkOcean, $amount: 5);

    .icon {
      color: lighten($color: $DarkOcean, $amount: 60);
    }

    .view {
      padding: 1vmin;
      cursor: pointer;
      border-radius: 0.5vmin 0 0 0.5vmin;
      transition: all 0.3s;
      margin: 0.5vh 0 0.5vh 0.5vw;

      .view-text {
        font-size: 2vmin;
      }

      &.selected {
        color: $White;

        &:hover {
          background: none;
        }
        .icon {
          color: $White;
        }
      }
    }
  }
  .icon {
    color: $White;
    padding-right: 0.5vw;
  }
}
