.aside {
  position: relative;
  width: 10%;
  background-color: $mainColor;

  @include tablet {
    width: 100%;
    position: fixed;
    height: 5rem;
    padding: 0 1rem;
    z-index: 20;
  }

  .content-responsive-menu {
    display: none;

    @include tablet {
      position: relative;
      width: 100%;
      height: 100%;
      display: block;
    }

    .container-responsive {
      position: absolute;
      top: 20%;
      left: 0;
      width: 100%;
      height: 80%;
      display: flex;
      justify-content: space-between;
      align-items: center;

      @include tablet {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
      }
    }

    .title-responsive {
      display: flex;
      justify-content: center;
      color: $White;
      text-transform: lowercase;
      @include tablet {
        font-size: 1.6rem;
      }
    }

    .icon {
      font-size: 2rem;
    }

    .icon-search {
      display: flex;
      justify-content: flex-end;
    }
  }

  .bg-nav-bar {
    position: relative;

    @include tablet {
      position: absolute;
      position: fixed;
      display: none;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.8);
      z-index: 22;
    }
  }

  .nav-bar {
    position: relative;
    position: fixed;
    width: 10%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    height: 100%;
    background-color: $darkMainColor;

    @include tablet {
      position: absolute;
      top: 0;
      left: 0;
      display: none;
      grid-template-rows: 1fr 2fr 1fr;
      width: 0%;
      height: 100%;
      opacity: 0;
      transition: all 0.3s;
    }

    @include desktop {
      display: flex;
    }

    .icon-close-nav {
      display: none;
      @include tablet {
        display: block;
        position: absolute;
        top: 1rem;
        right: 1rem;
        font-size: 2rem;
        z-index: 22;
      }
    }

    .logo-app {
      display: flex;
      justify-content: center;
      font-size: 1.2rem;
      font-style: italic;
      text-transform: lowercase;
      color: $White;
      padding: 2rem 1rem;

      @include tablet {
        display: none;
      }
    }

    .nav-avatar-content {
      display: none;

      @include tablet {
        display: block;
        position: relative;
        width: 90%;
        margin: 1rem auto 1rem 10%;
      }
    }

    .navegation-content {
      width: 100%;
      height: 100%;
      margin-top: 4vh;
      list-style: none;
      display: flex;
      flex-direction: column;
      row-gap: 0.5rem;

      @include tablet {
        height: 50%;
        width: 100%;
        margin: 0 auto;
      }
    }

    .section {
      position: relative;
      width: 100%;
      margin: 0 auto;

      .section-content {
        width: 100%;
        color: $mainColor;
        display: flex;
        align-items: center;
        font-size: 1.6rem;
        padding: 0 1vmin;
        text-decoration: none;

        @include tablet {
          font-size: 1.2rem;
          padding: 0 4rem;
        }

        .icon-section {
          padding-right: 1rem;
        }
      }
    }
  }

  .section-selector {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 1rem 0;
    list-style: none;
    border-radius: 0 0 1vmin 1vmin;

    // &::before {
    //   content: "";
    //   display: block;
    //   width: 90%;
    //   height: 0.1rem;
    //   margin: 0 auto;
    //   background: $mainColor;
    // }

    a {
      color: $fillBar;
      text-decoration: none;
    }

    .icon {
      color: $fillBar;
      font-size: 1.4rem;
    }

    .view {
      padding: 1vmin;
      cursor: pointer;
      border-radius: 0 0.5rem 0.5rem 0;
      transition: all 0.3s;
      margin: 0.5vh 0;
      padding-left: 20%;
      width: 90%;

      .view-text {
        font-size: 1.8rem;
        @include tablet {
          margin: 0;
          padding: 1rem 0.5rem;
          font-size: 1.5rem;
        }
      }

      &:hover,
      &:active {
        color: $grey;
        background: $mainColor;
      }

      &.selected {
        color: $White;
        background: $deepMainColor;

        .icon {
          color: $White;
        }
      }
    }
  }
  .icon {
    color: $White;
    padding-right: 0.5vw;
  }
  .content-logout {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;

    @include tablet {
      // border: 1px solid;
    }
  }
}
