.bg-experience-points-window {
  position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba($color: $mainColor, $alpha: 0.5);
  backdrop-filter: blur(0.5vmin);
  -webkit-backdrop-filter: blur(0.5vmin);
  z-index: 150;
}

.experience-points-window {
  position: relative;
  margin: 20vh 40%;
  width: 20%;
  height: auto;
  min-height: 40vh;
  display: flex;
  flex-direction: column;
  padding: 0 2vw;
  background-color: $White;
  border-radius: 0.5vmin;
  overflow: hidden;
  z-index: 150;

  @include tablet {
    width: 70%;
    margin: 10rem 15%;
    border-radius: 0.5rem;
  }

  .content-avatar {
    width: 80%;
    height: 20vh;
    margin: 2vh auto 0 auto;
    display: flex;
    flex-direction: column;

    .avatar {
      width: auto;
      height: 150px;
      margin: 0 auto;
      @include tablet {
        width: 110px;
        height: 110px;
      }
    }
  }

  .level-title {
    text-align: center;
    margin: -2vh auto 0.5vh auto;
    color: $mainColor;
    font-size: 6vmin;
    font-weight: 600;
    font-style: italic;
    text-transform: uppercase;
    -webkit-text-stroke: 0.3rem $deepMainColor;
    @include tablet {
      font-size: 3rem;
      -webkit-text-stroke: 0.2rem $deepMainColor;
    }
  }

  .transition-level {
    width: 60%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1vmin;
    margin: 0 auto;
    font-size: 5vmin;
    font-weight: 600;

    @include tablet {
      font-size: 4rem;
    }

    .prev-level {
      color: $Red;
    }

    .icon {
      font-size: 3vmin;
      @include tablet {
        font-size: 3rem;
      }
    }

    .actual-level {
      color: $Green;
    }
  }

  .button-content {
    margin: 0.5vmin auto 2vh auto;
    @include tablet {
      margin: 0.5rem auto 2rem auto;
      & button {
        font-size: 2rem;
      }
    }
  }
}
