.footer{
    display: flex;
    justify-content: space-between;
    color: $White;
    background-color: $footer;
    font-size: 1.8vmin;
    width: 100%;
    height: 5vh;
    padding: 1.5vh 2vw;
    position: absolute;
    position: fixed;
    bottom: 0;
    z-index: 101;
}