.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $White;
  font-size: 1.8rem;
  font-weight: lighter;
  width: 100%;
  height: 100%;
  padding: 2rem 0;
  margin: 0 auto;
  z-index: 101;
  cursor: pointer;
  transition: all 0.3s;
  @include tablet {
    justify-content: flex-start;
    width: 100%;
    justify-content: center;
  }
  .footer-text {
    font-size: 2vmin;
    @include tablet {
      font-size: 1.8rem;
    }
  }
  &:hover {
    background-color: $mainColor;
  }
}
