.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    color: $White;
    background-color: darken($color: $DarkOcean, $amount: 10);
    font-size: 1.8vmin;
    width: 20%;
    height: 5vh;
    padding: 1.5vh 2vw;
    position: absolute;
    position: fixed;
    bottom: 0;
    z-index: 101;
}