.form {
  position: absolute;
  position: fixed;
  width: 20%;
  top: 10vh;
  left: 0;
  min-height: 100vh;
  background-color: $DarkOcean;

  .content-form {
    padding: 3vmin;
  }

  .title-form {
    font-size: 3vmin;
    font-weight: bolder;
    margin: 0 auto 4vh auto;
    color: $White;
  }

  .form-title,
  .form-level,
  .form-description {
    display: block;
    width: 100%;
    padding: $padding1 * 10;
    border-radius: $SmallSize * 10;
    border: $SmallSize / 6 solid $DarkBlue;
    margin: $margin1 * 20 auto;
    font-size: 2.2vmin;
    background: lighten($color: $DarkGrey, $amount: 25);
  }

  .form-description {
    min-height: $BigSize * 20;
  }

  .content-message {
    position: relative;
    width: 100%;
    margin: 5vh auto;
  }
}
