.header{
    width: 80%;
    height: 8vh;
    margin-left: 20%;
    display: grid;
    grid-template-columns: 80% 20%;
    background-color: $White;

    .header-title{
        text-align: center;
    }

    .progress-bar{

        .level-bar{
            width: 60%;
            height: 40px;
            margin: 2vh 0 2vh 8vw;
            border-radius: 1vmin;
            box-shadow: inset .5vmin .5vmin 1vmin #aaa, inset -.5vmin -.5vmin 1vmin #aaa;
            overflow: hidden;
        }
        
        .green-fill{
            height: 100%;
            background-color: $Green;
            transition: all .3s;
        }
    }

}