.header{
    width: 80%;
    height: 20vh;
    margin-left: 20%;
    display: grid;
    grid-template-rows: 40% 60%;
    background-color: $White;

    .header-top{
        display: grid;
        grid-template-columns: 85% 15%;
        background-color: $White;
        align-items: center;
    }
    .header-bottom{
        display: grid;
        grid-template-columns: 80% 20%;
        background-color: $DarkGrey;
        align-content: center;
    }

    .header-title{
        text-align: center;
    }

    .progress-bar{
        height: 10vh;
        .level-bar{
            width: 40%;
            height: 4vh;
            margin: 2vh 0 2vh 8vw;
            // border: .1vmin solid $DarkGrey;
            border-radius: 2vmin;
            background-color: $White;
            // box-shadow: inset .5vmin .5vmin 1vmin #ddd, inset -.5vmin -.5vmin 1vmin #ddd;
            overflow: hidden;
        }
        
        .green-fill{
            height: 100%;
            background: linear-gradient(360deg, darken($Green, 10%), $Green);
            transition: all .5s;
        }
    }

    .user-settings{
        align-items: center;
        padding: 1vmin;
        margin-right: 2.5vw;  
        display: grid;
        grid-template-columns: repeat(2, 45%) 10%;

        .user-name{
            font-size: 2vmin;
        }
    }

    .user-settings-block{
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.4);
        display: none;
        opacity: 0;
        transition: all .3s;
        z-index: 100;
    }

    .user-settings-content{
        position: absolute;
        top: 0;
        right: 0;
        width: 0%;
        min-height: 100vh;
        padding: 0;
        margin: 0;
        transition: all .3s;
        overflow: hidden;
        z-index: 100;
    }

}