.avatar-header {
  position: absolute;
  position: fixed;
  top: 2.5vh;
  right: 2rem;
  width: 12%;
  height: 10vh;
  align-items: center;
  z-index: 19;

  @include tablet {
    display: none;
  }

  .avatar-content {
    align-items: center;
    padding: 1vmin;
    padding-right: 2.5vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .user-name {
      font-size: 3vmin;
      font-weight: 700;
    }

    .avatar {
      width: 80%;
    }
  }
}
