.loading {
  position: absolute;
  position: fixed;
  width: 90%;
  height: 100%;
  margin-left: 10%;
  z-index: 15;

  @include tablet {
    margin-left: 0;
    width: 100%;
  }

  .content-spinner {
    width: 12%;
    height: 15%;
    margin: 30vh auto;
    @include tablet {
      width: 50%;
      height: auto;
      margin: 20rem auto;
    }

    .text {
      font-size: 4vmin;
      font-style: italic;
      text-align: center;
    }
  }
}
