@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700&display=swap");

// Colors

$White: #fff;
$Black: #000;
$DarkGrey: #aaa;
$Red: #ed4e2c;
$Earth: #d69e1d;
$Green: #1dd620;
$DarkGreen: #1da620;
$footer: #424242;

$Pink: #f72585;
$ClearPurple: #b5179e;
$Purple: #7209b7;
$DarkPurple: #560bad;
$BluePurple: #480ca8;
$DarkBlue: #3a0ca3;
$DeepBlue: #3f37c9;
$Blue: #4361ee;
$ClearBlue: #4895ef;
$SkyBlue: #4cc9f0;

$DarkOcean: #0a425c;

$mainColor: #2c666e;
$darkMainColor: #07393c;
$deepMainColor: #05282a;
$backgroundApp: #f0edee;
$lightGrey: #ececec;
$grey: #c4c4c4;
$darkGrey: #aaa;
$fillBar: #80a3a8;

// Fonts

$font-principal: "Poppins", sans-serif;

// Marings & Paddings & Size

$margin1: 0.1vmin;
$margin2: 0.2vmin;

$padding1: 0.1vmin;
$padding2: 0.2vmin;

$SmallSize: 0.1vmin;
$MediunSize: 0.5vmin;
$BigSize: 1vmin;
