// Colors

$White : #fff;
$Black: #000;
$Grey : #ddd;
$DarkGrey : #aaa;
$Red: #ED4E2C;
$Earth: #D69E1D;
$Green: #1DD620;
$footer: #424242;

$Pink : #F72585;
$ClearPurple : #B5179E;
$Purple: #7209B7;
$DarkPurple: #560BAD;
$BluePurple: #480CA8;
$DarkBlue: #3A0CA3;
$DeepBlue: #3F37C9;
$Blue: #4361EE;
$ClearBlue: #4895EF;
$SkyBlue: #4CC9F0;

$DarkOcean: #0a425c;


// Fonts

$font-principal: 'Roboto Condensed', sans-serif;

// Marings & Paddings & Size

$margin1 : .1vmin;
$margin2 : .2vmin;

$padding1 : .1vmin;
$padding2 : .2vmin;

$SmallSize : .1vmin;
$MediunSize : .5vmin;
$BigSize : 1vmin;
