.button{
    cursor: pointer;
    border: none;
    font-size: 2.2vmin;
    font-weight: 700;
    padding: 2vmin;
    border-radius: 1vmin;
    transition: all.3s ease-out;
    color: #fff;
}

/* Backgrounds */

.button--primary{
    background-color: #B5179E;
}

.button--primary:hover{
    background-color: #F72585;
}

.button--secondary{
    background-color: #4361EE;
}

.button--secondary:hover{
    background-color: #4CC9F0;
}

/* Sizes */

.button--large{
    width: 100%;
}