.home {
  overflow: hidden;
  margin-top: 10vh;
  background: lighten($color: $DarkGrey, $amount: 25);

  // Today View
  .toady-main {
    max-width: 100vw;
    min-height: 100%;
  }

  .progress-bar {
    position: absolute;
    position: fixed;
    top: 10vh;
    left: 20%;
    width: 80%;
    height: 10vh;
    display: flex;
    align-items: center;
    background-color: lighten($color: $DarkGrey, $amount: 10);
    z-index: 100;

    .level-bar {
      width: 40%;
      height: 4vh;
      margin: 2vh 0 2vh 8vw;
      border-radius: 0.5vmin;
      background-color: $White;
      overflow: hidden;
    }

    .green-fill {
      height: 100%;
      background: linear-gradient(360deg, darken($Green, 10%), $Green);
      transition: all 0.5s;
    }

    .task-counter {
      height: 4vh;
      margin: 0 2vw;
      .task-counter-text {
        color: $White;
        font-size: 3vmin;
        font-weight: 700;
      }
    }
  }

  .content-lists {
    position: relative;
    display: flex;
    list-style: none;
    margin: 10vh auto 0 21%;
    width: 80vw;
    height: 100%;
    z-index: 6;

    .list {
      width: 30%;
      height: auto;
      min-height: 78vh;
      background-color: $Grey;
      border-radius: 1vmin;
      list-style: none;
      padding: 2vmin;
      border: 1vmin solid transparent;
      padding-bottom: 5vh;
      margin: 1vh 1vw 0 1vw;
      transition: all 0.4s;

      &.dragging {
        border: 1vmin dashed darken($color: $Grey, $amount: 10);
        background-color: lighten($color: $Grey, $amount: 5);
      }

      .header-list {
        display: flex;
        justify-content: space-between;
      }

      .count {
        border-radius: 2vmin;
        background-color: $DarkGrey;
        width: 1.6vw;
        padding-top: 0.5vh;
        text-align: center;
        font-weight: 700;
        color: $Grey;
      }
    }

    .list-title {
      color: $DarkGrey;
    }
  }

  .item {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 1vmin;
    margin: 1vmin auto;
    border-radius: 0.5vmin;
    background: $White;
    border-left: 0.5vh solid $Red;
    box-shadow: 0.5vmin 0.5vmin 0.5vmin #aaa;
    min-height: 10vh;
    height: auto;
    width: 100%;
    transform: rotate(0deg);
    overflow: hidden;
    transition: all 0.3s;

    &.in-progress {
      border-left: 0.5vh solid $Earth;
    }
    &.done {
      border-left: 0.5vh solid $Green;
    }

    &.dragging {
      position: relative;
      box-shadow: 1vmin 1vmin 2vmin #aaa;
      transform: rotate(-10deg);
    }
  }

  .editing {
    font-size: 1.8vmin;
    padding: 0.5vmin;
    border-radius: 0.5vmin;
    border: 0.2vmin solid $DarkGrey;
  }
  .todo-title {
    display: flex;
    justify-content: space-between;
    word-wrap: break-word;
    height: fit-content;
    font-size: 3vmin;
    margin-bottom: 2vh;
    z-index: 10;

    .todo-date {
      font-size: 1.5vmin;
    }

    .editing {
      font-size: 3vmin;
    }
  }

  .todo-description {
    word-wrap: break-word;
    z-index: 10;

    &.editing {
      margin: 1vh 0;
      min-height: 10vh;
      height: auto;
    }
  }

  .todo-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 2vh;
    align-items: center;
  }

  .content-icons {
    display: flex;
    justify-content: flex-end;
    z-index: 10;

    & svg {
      margin-left: 1vw;
    }
  }

  .start-date-selector {
    display: block;
    width: 100%;
    padding: 0.5vmin;
    border-radius: 0.5vmin;
    border: 0.2vmin solid $DarkGrey;
    margin: 1vmin 0;
    font-size: 1.8vmin;
    background: $White;
    cursor: pointer;
  }

  .start-date-selector {
    display: flex;
    justify-content: space-between;
    padding: 1vmin;
  }

  .react-calendar {
    margin: 0 0.05vw 0 0.05vw;
    background-color: #fff;
    border-radius: 1vmin;
    border: 0.2vmin solid $DarkGrey;
    line-height: 1.125em;
  }

  .react-calendar__month-view__weekdays {
    padding: 0.5vmin;
    text-align: center;
    border: none;
  }

  .react-calendar p {
    padding: 1vh 0;
  }

  .react-calendar button {
    background-color: #fff;
    border: none;
    padding: 1vmin;
    font-size: 1.5vmin;
    transition: all 0.3s;
  }

  .react-calendar button:hover {
    cursor: pointer;
    background-color: #ddd;
  }

  // TIMESTAMP SECTION

  .item.timestamp {
    display: flex;
    flex-direction: column;
    font-size: 1.4vmin;
    min-height: 12vh;
    height: auto;
    margin: 1vh auto;
    overflow: hidden;
    word-wrap: anywhere;
    overflow-wrap: anywhere;

    .todo-description {
      font-size: 1.8vmin;
      word-wrap: anywhere;
      overflow-wrap: anywhere;
    }
  }

  .week-pagination {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 20%;
    margin: 1vh auto;
  }

  .timestamp-arrow {
    background-color: $Grey;
    border-radius: 50%;
    padding: 1vmin;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      background-color: $DarkGrey;
    }

    &.arrow-left {
      transform: rotate(90deg);
    }

    &.arrow-right {
      transform: rotate(-90deg);
    }
  }

  // Timestamp View
  .timestamp-view {
    height: 90vh;
    width: 80%;
    padding: 1vmin;
    margin-left: 20%;
  }

  .timestamp {
    height: 75%;
    width: 95%;
    margin: 5vh auto 0 auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 0.2vw;
    overflow-y: scroll;
  }

  .content-days {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .day {
      position: relative;
      width: 100%;
      height: 100%;
      background-color: $Grey;
      overflow: hidden;
    }

    .day-text {
      text-align: center;
      position: absolute;
      position: fixed;
      width: 10.4%;
      padding: 1vmin;
      background-color: #fff;
      z-index: 10;
    }

    .day-tasks {
      margin-top: 5vh;
      padding: 1vmin;
      height: 100%;
    }
  }
}
