.home {
  // position: relative;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: $White;
  padding: 0 4rem;

  @include tablet {
    min-width: 900px;
    padding: 0 1rem;
  }

  .home-top-bar {
    position: absolute;
    position: fixed;
    top: 0;
    left: 10%;
    width: 100%;
    height: 12vh;
    display: flex;
    justify-content: space-between;
    background: $White;
    column-gap: 2rem;
    padding: 3rem 30% 2rem 0;
    margin-left: 4rem;
    z-index: 17;

    @include tablet {
      z-index: 21;
      top: 6.5rem;
      left: 0;
      margin-left: 2rem;
      width: fit-content;
      height: auto;
      padding: 0;
      background-color: transparent;
      column-gap: 0;
      z-index: 15;
    }

    .content-options-bar {
      width: auto;
      display: flex;
      justify-content: space-between;
      column-gap: 4rem;
      font-size: 1.6rem;
      margin-right: 5rem;
      z-index: 15;

      @include tablet {
        font-size: 1.4rem;
      }

      button {
        @include tablet {
          display: none;
        }
      }

      .filter-content {
        display: flex;
        justify-content: space-between;
        column-gap: 1rem;
        width: 30%;
        word-wrap: break-word;
        align-items: center;
      }

      .filter-options {
        border-radius: 0.5vmin;
        font-size: 2vmin;
        word-wrap: break-word;

        @include tablet {
          font-size: 1.2rem;
          word-wrap: break-word;
        }

        .filter-label {
          text-align: center;
          display: flex;
          align-items: center;
          height: 100%;
          cursor: pointer;
          color: $mainColor;

          @include tablet {
            width: 100%;
            justify-content: flex-end;
            align-items: flex-end;
            color: $White;
          }
        }

        .day-selected {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-weight: 700;

          .icon {
            font-size: 1.5vmin;
          }
        }
      }

      .content-options {
        position: absolute;
        position: fixed;
        top: 11vh;
        left: 20%;
        list-style: none;
        padding: 1vmin;
        background: $White;
        border-radius: 0.5vmin;
        box-shadow: 0.2vmin 0.2vmin 0.8vmin $DarkGrey;
        z-index: 17;

        @include tablet {
          top: 10rem;
          left: 2rem;
          font-size: 1.4rem;
          width: 40%;
        }

        .option {
          margin: 1vh 0;
          cursor: pointer;
          padding: 0.5vmin;
          align-items: center;
          transition: all 0.3s;
          border-radius: 0.5vmin;
          display: flex;
          justify-content: space-between;

          .icon {
            font-size: 1.4vmin;
          }

          &:hover {
            background: $grey;
          }
        }

        // Hide Calendar selector on mobile view until fix the calendar mobile error.
        .calendar-selector {
          display: flex;
          @include tablet {
            display: none;
          }
        }

        .option-tag {
          width: 100%;
          margin: 1vh 0;
          padding: 0.5vmin;
          border-radius: 0.5vmin;
          position: relative;
          align-items: center;

          .input-content {
            display: flex;
            margin-top: 1vmin;
            border-radius: 0.5vmin 0 0 0.5vmin;
          }

          .option-tag-input {
            width: 100%;
            padding: 0.5vmin;
            font-size: 1.6vmin;
            border: none;
            border-bottom: 0.1vmin solid;

            @include tablet {
              font-size: 1.2rem;
              padding: 0.5rem;
            }
          }

          .icon {
            padding: 1vmin;
            background-color: $DarkOcean;
            border-radius: 0 0.5vmin 0.5vmin 0;
            color: $White;
            font-size: 1.4vmin;

            @include tablet {
              width: 20%;
              font-size: 1.2rem;
              display: flex;
              align-items: center;
            }
          }
        }

        .react-calendar {
          position: absolute;
          top: 10vh;
          left: 100%;
          width: 200%;
          margin: -1vh 0.05vw 0 0.05vw;
          padding: 1rem;
          background-color: #fff;
          border-radius: 0 0.5vmin 0.5vmin 0.5vmin;
          box-shadow: 0.2vmin 0.2vmin 0.8vmin $DarkGrey;
          line-height: 1.125em;

          @include tablet {
            top: 11rem;
            left: 0;
            z-index: 16;

            & button {
              background-color: #fff;
              border: none;
              padding: 1rem 0;
              font-size: 1rem;
              transition: all 0.3s;
            }

            .react-calendar__month-view__weekdays {
              padding: 0.5rem 0;
              text-align: center;
              border: none;
            }

            .react-calendar p {
              padding: 0.5rem 0;
            }
          }
        }
      }
    }

    .search-component {
      width: 60%;
      z-index: 15;
      @include tablet {
        display: none;
      }
    }

    .show-archive-view {
      display: flex;
      justify-content: center;
      width: 20%;
      align-items: center;
      font-size: 1.8rem;
      font-weight: 600;
      color: $DarkGrey;
      cursor: pointer;
      z-index: 15;

      @include tablet {
        display: none;
      }

      .icon {
        padding-right: 1%;
        color: $DarkGrey;
      }
    }

    // Archive view
  }
  .bg-archive {
    position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba($color: $mainColor, $alpha: 0.5);
    backdrop-filter: blur(0.5vmin);
    -webkit-backdrop-filter: blur(0.5vmin);
    z-index: 150;

    @include tablet {
      top: 5rem;
      z-index: 16;
    }
  }

  .archive {
    position: absolute;
    position: fixed;
    top: 5vh;
    left: 20%;
    width: 60%;
    height: auto;
    max-height: 85vh;
    min-height: 85vh;
    padding: 0 2vw 8vh 2vw;
    background-color: $White;
    border-radius: 0.5rem;
    overflow: hidden;
    z-index: 150;

    @include tablet {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      max-height: none;
      min-height: none;
      padding: 0 0 4rem 0;
      border-radius: 0;
      z-index: 15;
    }

    .content-search {
      width: 60%;
      display: flex;
      @include tablet {
        display: none;
      }
    }

    .close-icon {
      position: absolute;
      top: 3.5rem;
      right: 4rem;
      font-size: 2rem;
      @include tablet {
        top: 2.5rem;
        right: 2rem;
        font-size: 2.5rem;
      }
    }

    .top-content {
      display: flex;
      justify-content: space-between;
      width: 100%;
    }

    .archive-title {
      width: 100%;
      margin: 4vh auto;
      color: $mainColor;

      @include tablet {
        font-size: 1.8rem;
        padding: 0 2rem;
        display: flex;
        align-items: center;
      }

      .icon {
        font-size: 1.8rem;
        padding-right: 2%;
      }
    }

    .empty-message {
      width: 300%;
      height: 90%;
      display: flex;
      color: $grey;
      justify-content: center;
      align-items: center;
      @include tablet {
        width: 100%;
        font-size: 1.4rem;
        text-align: center;
        margin-left: 50%;
      }
    }

    .content-archive-tasks {
      padding: 2vmin;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
      max-height: 67vh;
      min-height: 67vh;
      background-color: $lightGrey;
      border-radius: 0.5vmin;
      overflow-y: scroll;

      @include tablet {
        width: 100%;
        min-height: 40rem;
        grid-template-columns: repeat(2, 1fr);
      }
    }

    .archive-item {
      display: flex;
      flex-direction: column;
      position: relative;
      padding: 1rem;
      margin: 1vmin auto;
      border-radius: 0.5vmin;
      background: $White;
      box-shadow: 0.5vmin 0.5vmin 0.5vmin #aaa;
      height: auto;
      min-height: 10vh;
      max-height: 30vh;
      width: 100%;
      transform: rotate(0deg);
      transition: all 0.3s;

      @include tablet {
        min-height: 10rem;
        max-height: none;
        height: auto;
        width: 100%;
      }

      &:first-of-type {
        margin-top: 1vh;
        @include tablet {
          margin-top: 0.5vh;
        }
      }
    }
    .item-title {
      display: flex;
      justify-content: space-between;
      word-wrap: break-word;
      height: fit-content;
      font-size: 2.2vmin;
      margin-bottom: 1.5vh;
      z-index: 10;

      @include tablet {
        font-size: 1.2rem;
      }

      .item-date {
        font-size: 1.5vmin;
        display: flex;
        @include tablet {
          display: none;
        }
      }
      .icon-item-settings {
        display: none;
        @include tablet {
          display: block;
          font-size: 1.8rem;
          padding-bottom: 0.5rem;
          color: $grey;
        }
      }
    }
    .archive-count {
      display: flex;
      justify-content: flex-end;
      color: $grey;
      padding: 1.5vmin;
      font-size: 2.5vmin;
      font-weight: 700;

      @include tablet {
        font-size: 2rem;
        padding: 2rem 4rem;
      }
    }

    .item-tags {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      word-wrap: break-word;
      height: auto;
    }

    .item-description {
      word-wrap: break-word;
      margin-bottom: 1vh;
      z-index: 10;

      @include tablet {
        font-size: 1.2rem;
      }
    }

    .item-footer {
      display: flex;
      height: 100%;
      justify-content: space-between;
      margin-top: 1vh;
      align-items: flex-end;
      width: 95%;
      @include tablet {
        font-size: 1rem;
      }
    }

    .item-date-responsive {
      display: none;
      @include tablet {
        display: flex;
        font-size: 1rem;
      }
    }

    .content-icons {
      display: flex;
      width: 20%;
      justify-content: space-between;
      align-items: center;
      z-index: 10;

      & svg {
        margin-left: 1rem;
      }
    }

    .tag {
      width: fit-content;
      border-radius: 0.5rem;
      padding: 0.5vmin;
      font-size: 1.6vmin;
      font-style: italic;
      font-weight: 600;
      margin: 0.5vh 0.5vw 0.5vh 0;
      cursor: pointer;

      @include tablet {
        font-size: 1rem;
        padding: 0.2rem 0.5rem;
      }

      .icon {
        margin: 0 0.5vw;
      }
    }
  }

  // Today View
  .toady-main {
    min-width: 900px;
    width: 100%;
    min-height: 100%;
    overflow-x: auto;
  }

  // Form new task and edit task

  .bg-form {
    position: absolute;
    position: fixed;
    top: 0vh;
    left: 10%;
    width: 100%;
    height: 100%;
    background: rgba($color: #000, $alpha: 0.1);
    backdrop-filter: blur(0.5vmin);
    -webkit-backdrop-filter: blur(0.5vmin);
    z-index: 20;

    @include tablet {
      top: 5rem;
      left: 0;
      width: 100%;
      height: 100%;
      margin: 0;
      z-index: 16;
    }
  }

  .form {
    position: absolute;
    position: fixed;
    top: 8vh;
    left: 25%;
    width: 30%;
    height: auto;
    max-height: 80vh;
    background-color: $White;
    border-radius: 0.5vmin;
    padding: 1vmin;

    @include tablet {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      max-height: none;
      padding: 0 2rem;
      padding-top: 2.5rem;
      border-radius: 0;
    }

    .close-icon {
      position: absolute;
      top: 2vh;
      right: 2vw;
      cursor: pointer;

      @include tablet {
        font-size: 2.5rem;
        top: 2rem;
        right: 3rem;
        background-color: $White;
      }
    }

    .content-form {
      padding: 3vmin;
      max-height: 75vh;
      overflow-y: auto;

      @include tablet {
        max-height: 85vh;
        overflow-y: auto;
      }
    }

    .title-form {
      font-weight: bolder;
      margin: 0 auto 2vh auto;

      @include tablet {
        font-size: 1.8rem;
      }
    }

    .form-description {
      min-height: 15rem;
      @include tablet {
        min-height: 10rem;
      }
    }

    .content-message {
      position: relative;
      width: 100%;
      margin: 0.5vh auto;
    }
  }

  .start-date-selector,
  .form-tag,
  .form-status,
  .form-title,
  .form-level,
  .form-description {
    display: block;
    width: 100%;
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 0.1rem solid $lightGrey;
    border-bottom: 0.1rem solid $fillBar;
    margin: 1vh auto;
    font-size: 2.2vmin;
    font-family: $font-principal;
    background: $White;

    @include tablet {
      margin: 2rem auto;
      font-size: 1.4rem;
    }
  }

  .form-description {
    @include tablet {
      margin-bottom: 0.5rem;
    }
  }

  .content-tag-input {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    column-gap: 1rem;

    @include tablet {
      font-size: 4rem;
      margin-bottom: 0;
    }

    .color-selector {
      position: absolute;
      top: 40%;
      left: 5%;
      padding: 1vmin;
      background-color: $White;
      border-radius: 0.5vmin;
      box-shadow: 0.2vmin 0.2vmin 0.5vmin $DarkGrey;
    }

    .color-selected {
      width: 55px;
      height: 40px;
      margin-right: 0.5vw;
      border-radius: 0.5rem;
      cursor: pointer;

      @include tablet {
        width: 6rem;
        height: 4rem;
      }
    }
    .icon {
      position: relative;
      margin-left: 0.5vw;
      height: 100%;
      font-size: 5.2vmin;
      border-radius: 0.5vmin;

      @include tablet {
        font-size: 4rem;
      }
    }
  }

  .content-tags {
    width: 100%;
    margin: 0.2rem auto;
    display: flex;
    flex-wrap: wrap;

    @include tablet {
      margin-top: 0;
    }
  }

  .content-form {
    .content-tags {
      .tag {
        margin: 1.2rem 0.5rem 1.2rem 0;
        @include tablet {
          margin: 0rem 0.5rem 1rem 0;
        }
      }
    }
  }

  .tag {
    width: fit-content;
    border-radius: 0.5vmin;
    padding: 0.5vmin;
    font-size: 1.2rem;
    font-style: italic;
    font-weight: 600;
    margin: 0.5vh 0.5vw 0.5vh 0;
    cursor: pointer;

    @include tablet {
      display: flex;
      font-size: 1rem;
      padding: 0.5rem;
      border-radius: 0.5rem;
      align-items: center;
    }

    .icon {
      margin: 0 0.5vw;
      @include tablet {
        font-size: 2rem;
        padding: 0 1rem;
      }
    }
  }

  .start-date-selector {
    display: flex;
    justify-content: space-between;
    padding: 1vmin;
    cursor: pointer;
  }

  .react-calendar {
    margin: -1vh 0.05vw 0 0.05vw;
    background-color: #fff;
    border-radius: 1vmin;
    line-height: 1.125em;
  }

  .react-calendar__month-view__weekdays {
    padding: 0.5vmin;
    text-align: center;
    border: none;
  }

  .react-calendar p {
    padding: 1vh 0;
  }

  .react-calendar button {
    background-color: #fff;
    border: none;
    padding: 1vmin;
    font-size: 1.5vmin;
    transition: all 0.3s;

    @include tablet {
      border: 0.1rem solid $lightGrey;
      border-radius: 0.5rem;
      padding: 0.5rem;
      font-size: 1.5rem;
    }
  }

  .react-calendar button:hover {
    cursor: pointer;
    background-color: #ddd;
  }

  // Content Items

  .content-body {
    position: relative;
    width: 100%;
    margin: 0 auto;
    margin-top: 12vh;

    @include tablet {
      margin-top: 15vh;
      min-width: 900px;
      overflow-x: auto;
    }

    .content-top-bar {
      position: absolute;
      position: fixed;
      bottom: 0;
      left: 10%;
      width: 100%;
      display: flex;
      align-items: center;
      padding: 3rem 4rem;
      background: $White;
      z-index: 15;

      @include tablet {
        position: absolute;
        position: fixed;
        justify-content: space-between;
        left: 0;
        width: 100%;
        height: 6rem;
        padding: 0;
        margin: 0 auto;
        z-index: 10;
      }

      .progress-bar {
        position: relative;
        width: 86%;
        height: 90%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        z-index: 15;

        @include tablet {
          width: 100%;
          height: 100%;
          margin: 0 auto 0 1rem;
        }

        .level-bar {
          position: relative;
          width: 100%;
          height: 3.2vmin;
          border-radius: 0.5vmin;
          background-color: $lightGrey;
          overflow: hidden;

          @include tablet {
            width: 90%;
            height: 3rem;
            margin-left: 1rem;
            display: flex;
            align-items: center;
            border-radius: 0.5rem;
          }
        }

        .green-fill {
          position: absolute;
          top: 0;
          left: 0;
          width: auto;
          border-radius: 0.5vmin;
          height: 100%;
          background: $fillBar;
          transition: all 0.5s;
          z-index: 15;

          @include tablet {
            border-radius: 0.5rem;
          }
        }

        .task-counter {
          position: absolute;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          height: 100%;
          z-index: 16;

          .task-counter-text {
            color: $DarkOcean;
            font-size: 2rem;
            font-weight: 700;

            @include tablet {
              font-size: 1.2rem;
            }
          }
        }

        .experience-counter {
          position: absolute;
          display: flex;
          justify-content: flex-end;
          padding-right: 4rem;
          width: 100%;
          z-index: 16;

          .experience-counter-text {
            font-size: 2rem;
            font-weight: 600;
            color: $grey;
            @include tablet {
              font-size: 1.2rem;
            }
          }
        }
      }
    }
  }

  .icon-search-responsive-from-today {
    display: none;
    @include tablet {
      display: flex;
      position: absolute;
      position: fixed;
      top: 6.5rem;
      right: 2rem;
      font-size: 2rem;
      color: $mainColor;
      z-index: 15;
    }
  }

  .search-today-responsive {
    display: none;
    @include tablet {
      display: flex;
      position: absolute;
      position: fixed;
      top: 6rem;
      right: 6rem;
      padding: 1rem;
      background-color: $lightGrey;
      border: 0.1rem solid $fillBar;
      border-radius: 0.5rem;
      z-index: 15;
    }
  }

  .content-lists {
    position: relative;
    display: flex;
    list-style: none;
    margin: 0 auto;
    padding-bottom: 1vh;
    width: 100%;
    height: auto;
    min-height: 79.5vh;
    overflow: auto;
    z-index: 6;

    @include tablet {
      min-width: 900px;
    }

    .list {
      width: 30%;
      height: auto;
      min-height: 79.5vh;
      background-color: $lightGrey;
      border-radius: 1vmin;
      list-style: none;
      padding: 1rem;
      border: 0.5rem solid transparent;
      margin: 1vh 1vw;
      transition: all 0.4s;

      @include tablet {
        border-radius: 0.5rem;
        padding: 1rem;
        min-height: 81vh;
        width: 32%;
      }

      &.dragging {
        border: 0.5rem dashed $grey;
        background-color: $White;
      }

      .header-list {
        display: flex;
        justify-content: space-between;

        @include tablet {
          font-size: 1rem;
          display: flex;
          justify-content: flex-start;
          align-items: center;
        }
      }

      .content-add-task-responsive {
        display: none;
        @include tablet {
          display: flex;
          justify-content: flex-end;
          width: 65%;
          height: 80%;
        }
      }

      .count {
        border-radius: 2vmin;
        border: 0.1rem solid $grey;
        width: 3.5rem;
        height: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        font-weight: 700;
        color: $grey;
        margin: 0;

        @include tablet {
          width: 2rem;
          height: 2rem;
          border-radius: 50%;
          margin-left: 1rem;
        }
      }

      .see-more {
        width: 100%;
        color: darken($grey, 20);
        font-size: 2rem;
        font-style: italic;
        padding: 0.5vmin;
        border-radius: 0.5vmin;
        margin-top: 4vh;
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
      }
    }

    .list-title {
      color: $DarkGrey;
    }
  }

  // Item and Edit

  .item {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 1.5vmin;
    margin: 1vmin auto;
    border-radius: 0.5vmin;
    background: $White;
    box-shadow: 0.5vmin 0.5vmin 0.5vmin $grey;
    min-height: 10vh;
    height: auto;
    width: 100%;
    transform: rotate(0deg);
    overflow: hidden;
    transition: all 0.3s;

    @include tablet {
      padding: 1rem;
      border-radius: 0.5rem;
    }

    &:first-of-type {
      margin-top: 2.5vh;
    }

    &.dragging {
      position: relative;
      box-shadow: 1vmin 1vmin 2vmin $darkGrey;
      transform: rotate(-10deg);
    }
  }
  .item-menu-responsive {
    display: none;
    @include tablet {
      display: none;
      position: absolute;
      top: 1rem;
      right: 1rem;
      width: 0%;
      height: 0%;
      padding: 0.5rem;
      box-shadow: 0.2rem 0.2rem 0.8rem $darkGrey;
      border-radius: 0.5rem;
      background-color: $White;
      transition: all 0.3s;
      z-index: 15;
    }

    .options {
      display: flex;
      width: 100%;
      flex-direction: column;
    }

    .option {
      padding: 0.5rem 1rem;
      cursor: pointer;
    }
  }

  .todo-title {
    display: flex;
    justify-content: space-between;
    word-wrap: break-word;
    height: fit-content;
    font-size: 1.8rem;
    margin-bottom: 1.5vh;
    z-index: 10;

    @include tablet {
      font-size: 1.5rem;
    }

    .todo-date {
      font-size: 1.5vmin;
      display: flex;
      @include tablet {
        font-size: 1.2rem;
        display: none;
      }
    }

    .icon-item-settings {
      display: none;
      @include tablet {
        display: flex;
        color: $grey;
        font-size: 1.8rem;
        padding: 0.5rem;
        padding-bottom: 0;
      }
    }
  }

  .todo-tags {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    word-wrap: break-word;
    height: auto;
  }

  .todo-description {
    font-size: 1.6rem;
    word-wrap: break-word;
    overflow: hidden;
    margin-bottom: 1vh;
    z-index: 10;

    @include tablet {
      font-size: 1.2rem;
    }
  }

  .todo-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 1vh;
    align-items: center;
  }

  .todo-level {
    @include tablet {
      font-size: 1.2rem;
    }
  }

  .content-icons {
    display: flex;
    width: 20%;
    justify-content: flex-end;
    z-index: 10;

    @include tablet {
      width: 40%;
      justify-content: center;
      font-size: 1.2rem;
    }

    .icon {
      margin-left: 1vw;
      display: flex;
      @include tablet {
        display: none;
      }
    }

    & svg {
      margin-left: 1vw;
    }

    .todo-date-responsive {
      display: none;
      @include tablet {
        display: flex;
      }
    }
  }

  // TIMESTAMP SECTION

  .item.timestamp {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: auto;
    height: auto;
    margin: 1vh auto;
    overflow: hidden;
    word-wrap: anywhere;
    overflow-wrap: anywhere;

    .arrow {
      position: absolute;
      top: 2vh;
      right: 0.7vw;
      font-size: 1.4rem;
      opacity: 0.5;

      @include tablet {
        font-size: 1.2rem;
        right: 1rem;
      }
    }

    .circle-status {
      width: 3rem;
      height: 1rem;
      border-radius: 0.3vmin;
      background-color: $Red;
    }

    &.in-progress {
      .circle-status {
        background-color: $Earth;
      }
    }
    &.done {
      .circle-status {
        background-color: $Green;
      }
    }

    .todo-title {
      font-size: 1.6rem;
      padding-right: 1.5rem;
      word-wrap: anywhere;
      overflow-wrap: anywhere;

      @include tablet {
        font-size: 1.2rem;
      }
    }
    .todo-description {
      font-size: 1.6rem;
      word-wrap: anywhere;
      overflow-wrap: anywhere;
      @include tablet {
        font-size: 1.2rem;
      }
    }

    .item-timestamp-footer {
      width: 100%;
      display: flex;
      align-items: flex-end;
    }

    .content-icons {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      margin-top: 1vh;
      column-gap: 20%;
      z-index: 10;

      & svg {
        margin-left: 1vw;
      }
    }

    .item-menu-responsive {
      display: none;
      @include tablet {
        display: none;
        top: 0;
        right: 0;
      }

      .option {
        font-size: 1rem;
      }
    }

    .icon-item-settings {
      display: none;
      @include tablet {
        display: flex;
      }
    }
  }

  .week-pagination {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 20%;
    margin: 1rem auto;
    padding: 0;
    z-index: 20;

    @include tablet {
      position: absolute;
      position: fixed;
      top: 4rem;
      left: 0;
      width: 100%;
      background-color: $White;
      padding: 2rem 6rem 0.5rem 6rem;
      font-size: 1.4rem;
      z-index: 12;
    }
  }

  .timestamp-arrow {
    background-color: $lightGrey;
    border-radius: 50%;
    padding: 1vh 0.5vw;
    cursor: pointer;
    transition: all 0.3s;

    @include tablet {
      width: 2.5rem;
      text-align: center;
    }

    &:hover {
      background-color: $grey;
    }

    &.arrow-left {
      transform: rotate(90deg);
    }

    &.arrow-right {
      transform: rotate(-90deg);
    }
  }

  // Timestamp View
  .timestamp-view {
    height: 100vh;
    width: 100%;
    padding: 5vh 2rem 0 2rem;
    margin-top: 0;

    @include tablet {
      margin-top: 5rem;
      padding: 5vh 1rem 0 1rem;
    }
  }

  .timestamp {
    height: 80%;
    width: 100%;
    margin: 5vh auto 0 auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    border-radius: 0.5rem;
    column-gap: 0.2rem;
    overflow-y: scroll;

    @include tablet {
      height: 90%;
    }
  }

  .content-days {
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    width: 100%;
    height: 100%;

    .day {
      position: relative;
      width: 100%;
      height: 100%;
      background-color: $lightGrey;
      overflow: hidden;
    }

    .day-text {
      text-align: center;
      position: relative;
      position: fixed;
      width: 12%;
      padding: 1vmin;
      background-color: $fillBar;
      color: $lightGrey;
      z-index: 10;

      @include tablet {
        position: relative;
        width: 100%;
        font-size: 1.2rem;
      }

      .text {
        font-size: 1.6rem;
        @include tablet {
          font-size: 1.4rem;
        }
      }
    }

    .day-tasks {
      margin-top: 5vh;
      padding: 1vmin;
      height: 100%;

      @include tablet {
        margin-top: 0.5rem;
      }
    }
  }

  .options-icons-reponsive {
    display: none;
    @include tablet {
      position: absolute;
      position: fixed;
      bottom: 5rem;
      left: 80%;
      width: 4rem;
      display: flex;
      justify-content: center;
      background-color: $White;
      border-radius: 50%;
      box-shadow: 0.2rem 0.2rem 1rem $darkGrey;
      padding: 1rem;
      z-index: 15;

      .icon {
        font-size: 2rem;
      }
    }
  }

  .content-add-and-archive-feature-on-responsive {
    display: none;
    @include tablet {
      position: absolute;
      position: fixed;
      bottom: 5rem;
      right: 10%;
      display: none;
      justify-content: space-between;
      align-items: center;
      background-color: $White;
      border-radius: 5rem;
      box-shadow: 0.2rem 0.2rem 1rem $darkGrey;
      padding: 1rem;
      padding-left: 2rem;
      overflow: hidden;
      transition: all 0.3s;
      z-index: 14;
      .icon {
        font-size: 2rem;
        &:last-of-type {
          padding-right: 5rem;
        }
      }
    }
  }
}
