.home {
  overflow: hidden;
  background: lighten($color: $DarkGrey, $amount: 25);

  .bg-home-top-bar {
    position: absolute;
    position: fixed;
    top: 0vh;
    left: 10%;
    width: 90%;
    height: 10vh;
    background: lighten($color: $DarkGrey, $amount: 25);
  }

  .home-top-bar {
    position: absolute;
    position: fixed;
    padding: 2vh 20% 2vh 2%;
    top: 0vh;
    left: 10%;
    width: 90%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    z-index: 15;

    .content-options-bar {
      width: 20%;
      display: flex;
      justify-content: space-around;
      font-size: 1.8vmin;
      z-index: 15;

      .filter-content {
        display: grid;
        grid-template-columns: 60% 40%;
        column-gap: 5%;
        word-wrap: break-word;
        align-items: center;
        width: 40%;
      }

      .filter-options {
        border-radius: 0.5vmin;
        font-size: 2vmin;
        word-wrap: break-word;

        .filter-label {
          text-align: center;
          display: flex;
          align-items: center;
          height: 100%;
          cursor: pointer;
          color: $DarkOcean;
        }

        .day-selected {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-weight: 700;

          .icon {
            font-size: 1.5vmin;
          }
        }
      }

      .content-options {
        position: absolute;
        position: fixed;
        top: 9vh;
        left: 20%;
        list-style: none;
        padding: 1vmin;
        background: $White;
        border-radius: 0.5vmin;
        box-shadow: 0.2vmin 0.2vmin 0.8vmin $DarkGrey;
        z-index: 15;

        .option {
          margin: 1vh 0;
          cursor: pointer;
          padding: 0.5vmin;
          align-items: center;
          transition: all 0.3s;
          border-radius: 0.5vmin;
          display: flex;
          justify-content: space-between;

          .icon {
            font-size: 1.4vmin;
          }

          &:hover {
            background: $Grey;
          }
        }

        .option-tag {
          width: 100%;
          margin: 1vh 0;
          padding: 0.5vmin;
          border-radius: 0.5vmin;
          position: relative;
          align-items: center;

          .input-content {
            display: flex;
            margin-top: 1vmin;
            border-radius: 0.5vmin 0 0 0.5vmin;
          }

          .option-tag-input {
            width: 100%;
            padding: 0.5vmin;
            font-size: 1.6vmin;
            border: none;
            border-bottom: 0.1vmin solid;
          }

          .icon {
            padding: 1vmin;
            background-color: $DarkOcean;
            border-radius: 0 0.5vmin 0.5vmin 0;
            color: $White;
            font-size: 1.4vmin;
          }
        }

        .react-calendar {
          position: absolute;
          top: 10vh;
          left: 100%;
          width: 200%;
          margin: -1vh 0.05vw 0 0.05vw;
          padding: 1vmin;
          background-color: #fff;
          border-radius: 0 0.5vmin 0.5vmin 0.5vmin;
          box-shadow: 0.2vmin 0.2vmin 0.8vmin $DarkGrey;
          line-height: 1.125em;
        }
      }
    }

    .show-archive-view {
      display: flex;
      justify-content: space-between;
      width: 10%;
      margin: 2vh 0;
      align-items: center;
      font-size: 2vmin;
      font-weight: 600;
      color: $DarkGrey;
      cursor: pointer;
      z-index: 15;

      .icon {
        padding-right: 2%;
        color: $DarkGrey;
      }
    }

    // Archive view
  }
  .bg-archive {
    position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba($color: $DarkOcean, $alpha: 0.5);
    backdrop-filter: blur(0.5vmin);
    -webkit-backdrop-filter: blur(0.5vmin);
    z-index: 150;
  }

  .archive {
    position: absolute;
    position: fixed;
    top: 5vh;
    left: 20%;
    width: 60%;
    height: auto;
    padding: 0 2vw 8vh 2vw;
    max-height: 85vh;
    background-color: $White;
    border-radius: 0.5vmin;
    overflow: hidden;
    z-index: 150;

    .close-icon {
      position: absolute;
      top: 2vh;
      right: 4rem;
    }

    .archive-title {
      width: 100%;
      margin: 4vh auto;
      text-align: center;

      .icon {
        padding-right: 2%;
      }
    }

    .content-archive-tasks {
      padding: 2vmin;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 1rem;
      max-height: 66vh;
      background-color: $Grey;
      border-radius: 0.5vmin;
      overflow-y: scroll;
    }

    .archive-item {
      display: flex;
      flex-direction: column;
      position: relative;
      padding: 1.5vmin;
      margin: 1vmin auto;
      border-radius: 0.5vmin;
      background: $White;
      box-shadow: 0.5vmin 0.5vmin 0.5vmin #aaa;
      min-height: 10vh;
      height: auto;
      width: 100%;
      transform: rotate(0deg);
      transition: all 0.3s;

      &:first-of-type {
        margin-top: 1vh;
      }
    }
    .item-title {
      display: flex;
      justify-content: space-between;
      word-wrap: break-word;
      height: fit-content;
      font-size: 2.2vmin;
      margin-bottom: 1.5vh;
      z-index: 10;

      .item-date {
        font-size: 1.5vmin;
      }
    }

    .item-tags {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      word-wrap: break-word;
      height: auto;
    }

    .item-description {
      word-wrap: break-word;
      margin-bottom: 1vh;
      z-index: 10;
    }

    .item-footer {
      display: flex;
      justify-content: space-between;
      margin-top: 1vh;
      align-items: flex-end;
    }

    .content-icons {
      display: flex;
      width: 20%;
      justify-content: space-between;
      z-index: 10;

      & svg {
        margin-left: 1vw;
      }
    }

    .tag {
      width: fit-content;
      border-radius: 0.5vmin;
      padding: 0.5vmin;
      font-size: 1.6vmin;
      font-style: italic;
      font-weight: 600;
      margin: 0.5vh 0.5vw 0.5vh 0;
      cursor: pointer;

      .icon {
        margin: 0 0.5vw;
      }
    }
  }
  .progress-bar {
    width: 60%;
    height: 90%;
    display: flex;
    align-items: center;
    border-radius: 0 0 0 0.5vmin;
    z-index: 15;

    .level-bar {
      width: 60%;
      height: 80%;
      border-radius: 0.5vmin;
      background-color: $White;
      overflow: hidden;
    }

    .green-fill {
      width: auto;
      height: 100%;
      background: linear-gradient(360deg, darken($Green, 10%), $Green);
      transition: all 0.5s;
    }

    .task-counter {
      height: 4vh;
      margin: 0 2vw;
      .task-counter-text {
        color: $DarkOcean;
        font-size: 3vmin;
        font-weight: 700;
      }
    }

    .experience-counter {
      margin-left: 5%;

      .experience-counter-text {
        font-size: 3vmin;
        font-weight: 600;
        color: darken($color: $Green, $amount: 10);
      }
    }
  }

  // Today View
  .toady-main {
    max-width: 100vw;
    min-height: 100%;
  }

  // Form new task and edit task

  .bg-form {
    position: absolute;
    position: fixed;
    top: 0vh;
    left: 10%;
    width: 100%;
    height: 100%;
    background: rgba($color: #000, $alpha: 0.1);
    backdrop-filter: blur(0.5vmin);
    -webkit-backdrop-filter: blur(0.5vmin);
    z-index: 20;
  }

  .form {
    position: absolute;
    position: fixed;
    top: 8vh;
    left: 25%;
    width: 30%;
    height: auto;
    background-color: $White;
    border-radius: 0.5vmin;
    padding: 1vmin;

    .close-icon {
      position: absolute;
      font-size: 2.5vmin;
      top: 2vh;
      right: 2vw;
      cursor: pointer;
    }

    .content-form {
      padding: 3vmin;
    }

    .title-form {
      font-size: 3vmin;
      font-weight: bolder;
      margin: 0 auto 2vh auto;
    }

    .form-description {
      min-height: $BigSize * 20;
    }

    .content-message {
      position: relative;
      width: 100%;
      margin: 0.5vh auto;
    }
  }

  .start-date-selector,
  .form-tag,
  .form-status,
  .form-title,
  .form-level,
  .form-description {
    display: block;
    width: 100%;
    padding: $padding1 * 10;
    border-radius: 0.5vmin;
    border: $SmallSize / 6 solid $DarkBlue;
    margin: 1vh auto;
    font-size: 2.2vmin;
    background: $White;
  }

  .content-tag-input {
    display: flex;
    overflow: hidden;
    margin-bottom: 1vh;

    .icon {
      position: absolute;
      top: 0.9vh;
      height: 100%;
      right: 0.1vw;
      font-size: 5.2vmin;
      border-radius: 0.5vmin;
    }
  }

  .content-tag-input {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;

    .color-selector {
      position: absolute;
      top: 52%;
      left: -170px;
      padding: 1vmin;
      background-color: $White;
      border-radius: 0.5vmin;
      box-shadow: 0.2vmin 0.2vmin 0.5vmin $DarkGrey;
    }

    .color-selected {
      width: 55px;
      height: 45px;
      margin-right: 0.5vw;
      border-radius: 0.5vmin;
      cursor: pointer;
    }

    .icon {
      position: relative;
      margin: -1.5vh 0 0 0.5vw;
    }
  }

  .content-tags {
    width: 100%;
    margin: 0.5vh auto;
    display: flex;
    flex-wrap: wrap;
  }

  .tag {
    width: fit-content;
    border-radius: 0.5vmin;
    padding: 0.5vmin;
    font-size: 1.6vmin;
    font-style: italic;
    font-weight: 600;
    margin: 0.5vh 0.5vw 0.5vh 0;
    cursor: pointer;

    .icon {
      margin: 0 0.5vw;
    }
  }

  .start-date-selector {
    display: flex;
    justify-content: space-between;
    padding: 1vmin;
    cursor: pointer;
  }

  .react-calendar {
    margin: -1vh 0.05vw 0 0.05vw;
    background-color: #fff;
    border-radius: 1vmin;
    line-height: 1.125em;
  }

  .react-calendar__month-view__weekdays {
    padding: 0.5vmin;
    text-align: center;
    border: none;
  }

  .react-calendar p {
    padding: 1vh 0;
  }

  .react-calendar button {
    background-color: #fff;
    border: none;
    padding: 1vmin;
    font-size: 1.5vmin;
    transition: all 0.3s;
  }

  .react-calendar button:hover {
    cursor: pointer;
    background-color: #ddd;
  }

  // Content Items

  .content-lists {
    position: relative;
    display: flex;
    list-style: none;
    margin: 12vh auto 0 11%;
    width: 90vw;
    height: 100%;
    z-index: 6;

    .list {
      width: 30%;
      height: auto;
      min-height: 87vh;
      background-color: $Grey;
      border-radius: 1vmin;
      list-style: none;
      padding: 2vmin;
      border: 1vmin solid transparent;
      padding-bottom: 5vh;
      margin: 1vh 1vw 0 1vw;
      transition: all 0.4s;

      &.dragging {
        border: 1vmin dashed darken($color: $Grey, $amount: 10);
        background-color: lighten($color: $Grey, $amount: 5);
      }

      .header-list {
        display: flex;
        justify-content: space-between;
      }

      .count {
        border-radius: 2vmin;
        background-color: $DarkGrey;
        width: 1.6vw;
        padding-top: 0.5vh;
        text-align: center;
        font-weight: 700;
        color: $Grey;
      }

      .see-more {
        width: 100%;
        color: darken($DarkGrey, 20);
        font-size: 2.5vmin;
        font-style: italic;
        font-weight: 700;
        padding: 0.5vmin;
        border: 0.1vmin solid $Grey;
        border-radius: 0.5vmin;
        display: flex;
        justify-content: flex-end;
        cursor: pointer;
      }
    }

    .list-title {
      color: $DarkGrey;
    }
  }

  // Item and Edit

  .item {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 1.5vmin;
    margin: 1vmin auto;
    border-radius: 0.5vmin;
    background: $White;
    box-shadow: 0.5vmin 0.5vmin 0.5vmin #aaa;
    min-height: 10vh;
    height: auto;
    width: 100%;
    transform: rotate(0deg);
    overflow: hidden;
    transition: all 0.3s;

    &:first-of-type {
      margin-top: 2.5vh;
    }

    &.dragging {
      position: relative;
      box-shadow: 1vmin 1vmin 2vmin #aaa;
      transform: rotate(-10deg);
    }
  }

  .editing {
    font-size: 1.8vmin;
    padding: 0.5vmin;
    border-radius: 0.5vmin;
    border: 0.2vmin solid $DarkGrey;
  }
  .todo-title {
    display: flex;
    justify-content: space-between;
    word-wrap: break-word;
    height: fit-content;
    font-size: 2.2vmin;
    margin-bottom: 1.5vh;
    z-index: 10;

    .todo-date {
      font-size: 1.5vmin;
    }

    .editing {
      font-size: 3vmin;
    }
  }

  .todo-tags {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    word-wrap: break-word;
    height: auto;
  }

  .todo-description {
    word-wrap: break-word;
    margin-bottom: 1vh;
    z-index: 10;

    &.editing {
      margin: 1vh 0;
      min-height: 10vh;
      height: auto;
    }
  }

  .todo-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 1vh;
    align-items: center;
  }

  .content-icons {
    display: flex;
    width: 20%;
    justify-content: space-between;
    z-index: 10;

    & svg {
      margin-left: 1vw;
    }
  }

  // TIMESTAMP SECTION

  .item.timestamp {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: auto;
    height: auto;
    margin: 1vh auto;
    overflow: hidden;
    word-wrap: anywhere;
    overflow-wrap: anywhere;

    .arrow {
      position: absolute;
      top: 2vh;
      right: 0.7vw;
      font-size: 1.5vmin;
      opacity: 0.5;
    }

    .circle-status {
      width: 3rem;
      height: 1rem;
      border-radius: 0.3vmin;
      background-color: $Red;
    }

    &.in-progress {
      .circle-status {
        background-color: $Earth;
      }
    }
    &.done {
      .circle-status {
        background-color: $Green;
      }
    }

    .todo-title {
      font-size: 2vmin;
      padding-right: 1.5rem;
      word-wrap: anywhere;
      overflow-wrap: anywhere;
    }
    .todo-description {
      font-size: 1.8vmin;
      word-wrap: anywhere;
      overflow-wrap: anywhere;
    }

    .item-timestamp-footer {
      width: 100%;
      display: flex;
      align-items: flex-end;
    }

    .content-icons {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      margin-top: 1vh;
      column-gap: 20%;
      z-index: 10;

      & svg {
        margin-left: 1vw;
      }
    }
  }

  .week-pagination {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 20%;
    margin: 1vh auto;
    z-index: 20;
  }

  .timestamp-arrow {
    background-color: $Grey;
    border-radius: 50%;
    padding: 1vh 0.5vw;
    cursor: pointer;
    transition: all 0.3s;

    &:hover {
      background-color: $DarkGrey;
    }

    &.arrow-left {
      transform: rotate(90deg);
    }

    &.arrow-right {
      transform: rotate(-90deg);
    }
  }

  // Timestamp View
  .timestamp-view {
    height: 100vh;
    width: 90%;
    padding: 1vmin;
    padding-top: 5vh;
    margin-left: 10%;
  }

  .timestamp {
    height: 80%;
    width: 95%;
    margin: 5vh auto 0 auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    column-gap: 0.2vw;
    overflow-y: scroll;
  }

  .content-days {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;

    .day {
      position: relative;
      width: 100%;
      height: 100%;
      background-color: $Grey;
      overflow: hidden;
    }

    .day-text {
      text-align: center;
      position: absolute;
      position: fixed;
      width: 11.8%;
      padding: 1vmin;
      background-color: #fff;
      z-index: 10;
    }

    .day-tasks {
      margin-top: 5vh;
      padding: 1vmin;
      height: 100%;
    }
  }
}
