.login{
    position: relative;
    max-width: 100vw;
    min-height: 100vh;
    background: $Pink;
    background: -moz-linear-gradient(
      74deg,
      $BluePurple 0%,
      $Purple 25%,
      $Pink 100%
    );
    background: -webkit-linear-gradient(
      74deg,
      $BluePurple 0%,
      $Purple 25%,
      $Pink 100%
    );
    background: linear-gradient(74deg, $BluePurple 0%, $Purple 25%, $Pink 100%);

    .login-content{
        position: absolute;
        width: 50%;
        min-height: 70vh;
        top: 10vh;
        left: 25%;
        background-color: $White;
        display: grid;
        grid-template-columns: 60% 40%;
    }

    .login-form{
        padding: 2vmin;

        .title{
            margin: 15vh auto 5vh auto;
            width: 60%;
        }

        .input-content{
            width: 60%;
            border-radius: .5vmin;
            margin: 2vh auto;
        }
        
        .input{
            border: none;
            width: 100%;
            height: 100%;
            padding: 1vmin;
            font-size: 2vmin;

            &:focus{
                outline: none;
            }
        }

        .buttons-content{
            display: flex;
            justify-content: start;
            width: 60%;
            margin: 5vh auto;
        }

    }

    .login-picture{
        background-color: $BluePurple;
    }
}