.bg-login {
  position: relative;
  position: fixed;
  background-color: $darkMainColor;
  width: auto;
  height: 100vh;
}
.login {
  position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: transparent;
  z-index: 150;

  .login-content {
    position: absolute;
    width: 40%;
    min-height: 95%;
    top: 2%;
    left: 2%;
    background-color: $White;
    border-radius: 0.5rem;
    display: flex;

    @include tablet {
      width: 100%;
      min-height: 80rem;
      height: auto;
      top: 5rem;
      left: 0;
    }
  }

  .login-form {
    width: 100%;
    padding: 2rem;

    @include tablet {
      padding: 0 2rem;
    }

    .error-message {
      color: $Red;
      text-align: center;
      height: 5vh;
      margin-top: 10vh;

      @include tablet {
        margin-top: 0;
      }
    }

    .title {
      color: $darkMainColor;
      width: 60%;
      margin: 5rem auto 8rem auto;
      font-size: 3rem;
      @include tablet {
        width: 80%;
        font-size: 2rem;
      }
    }

    .input-content {
      width: 60%;
      border-radius: 0.5vmin;
      border: none;
      margin: 2rem auto;

      @include tablet {
        width: 80%;
      }
    }

    .input {
      border: none;
      border-radius: 0.5vmin;
      width: 100%;
      height: 100%;
      padding: 1.5rem 2rem;
      font-size: 1.8rem;
      background-color: $backgroundApp;

      &:focus {
        background-color: transparent;
        border: 0.1rem solid $lightGrey;
      }

      &:focus {
        outline: none;
      }
    }

    .buttons-content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 60%;
      margin: 10rem auto 0 auto;

      @include tablet {
        width: 80%;
      }
    }
  }

  .login-picture {
    background: linear-gradient(-135deg, $BluePurple, $Blue);
  }
}
