.profile {
  width: 100%;
  height: 100vh;
  background: $lightGrey;
  font-size: 1.6rem;
  overflow: hidden;

  @include tablet {
    overflow: auto;
  }

  .bg-avatar-selector {
    position: absolute;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba($color: $mainColor, $alpha: 0.5);
    backdrop-filter: blur(0.5vmin);
    -webkit-backdrop-filter: blur(0.5vmin);
    z-index: 16;
    @include tablet {
      top: 5rem;
    }
  }

  .avatar-selector {
    position: relative;
    width: 60%;
    height: 85vh;
    margin: 5vh auto;
    padding: 4vmin 2vmin;
    display: flex;
    flex-direction: column;
    border-radius: 0.5rem;
    background-color: $White;
    z-index: 20;
    @include tablet {
      width: 100%;
      max-height: none;
      height: 100%;
      margin: 0 auto;
      border-radius: 0;
    }

    .content-images {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      height: 90%;
      @include tablet {
        width: 100%;
        height: 75%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        overflow: auto;
        margin: 2rem auto 0 auto;
      }
    }

    .close-icon {
      position: absolute;
      top: 1vh;
      right: 1vw;
      @include tablet {
        top: 1rem;
        right: 2rem;
        font-size: 2.5rem;
      }
    }

    .avatarToSelect {
      width: 15vh;
      height: 15vh;
      cursor: pointer;
      margin: 0 auto;

      @include tablet {
        width: auto;
        height: 80px;
        margin: 1rem auto;
      }
    }

    .avatarToSelect.selected {
      border-radius: 50%;
      border: 1vmin solid $Green;
      padding: 1vmin;
      transform: scale(1.4);
    }

    .content-save-button {
      position: relative;
      width: 100%;
      height: 10%;
      background-color: $White;
    }

    button {
      position: absolute;
      bottom: 0;
      right: 0;
      width: 20%;
      @include tablet {
        width: 30%;
        right: 2rem;
        font-size: 1.8rem;
      }
    }
  }

  .profile-top {
    width: 90%;
    height: auto;
    margin: 5vh auto 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 0.5fr;
    column-gap: 2vw;

    @include tablet {
      margin: 6rem auto 0 auto;
      display: flex;
      flex-direction: column;
    }
  }

  .user-data-content {
    width: 100%;
    margin: 0 auto;

    @include tablet {
      margin: 1rem auto;
    }

    .user-data {
      position: relative;
      width: 100%;
      height: 40vh;
      display: flex;
      flex-direction: column;
      background-color: $White;
      border-radius: 0.5rem;
      padding: 1vmin;

      @include tablet {
        padding: 0.5rem;
        height: auto;
      }
    }

    .level-content {
      position: absolute;
      top: 3vh;
      left: 3vw;
      width: 4.2vw;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: $fillBar;
      color: $White;
      border-radius: 50%;

      @include tablet {
        width: 5rem;
      }

      .user-level {
        margin-top: 0.5vh;
        margin-bottom: -1vh;
        font-size: 5vmin;
        font-weight: 600;

        @include tablet {
          font-size: 1.6rem;
          text-align: center;
          width: 6rem;
        }
      }
      .label {
        margin-bottom: 1vh;
        @include tablet {
          font-size: 1.4rem;
          text-align: center;
        }
      }
    }

    .user-avatar {
      background-position: center center;
      background-size: cover;
      width: 10vw;
      height: 20vh;
      margin: 0 auto;

      @include tablet {
        width: auto;
        height: 100px;
        margin: 1rem auto 0 auto;
      }
    }

    .avatarEditButton {
      display: flex;
      justify-content: flex-end;
      width: 10vw;
      margin: -2.5vh auto 1.5vh auto;

      @include tablet {
        width: 40%;
        margin: -2rem auto 2rem auto;
        .icon {
          font-size: 2rem;
        }
      }
    }

    .name-content,
    .email-content {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 1vmin;
      width: 60%;
      margin: 0 auto;

      .user-name-edit,
      .user-email-edit {
        height: 60%;
        padding: 0.5rem;
        border-radius: 0.5rem;
        border: 0.2vmin solid $DarkGrey;
        @include tablet {
          width: 10rem;
        }
      }

      .content-buttons {
        display: flex;
        column-gap: 0.5vmin;
        margin: 0 0.5vmin;

        & button {
          font-size: 1.2rem;
        }
      }
    }

    .name-content {
      @include tablet {
        width: 10%;
        margin: 0 auto;
        padding-left: 3rem;
        .icon {
          padding-left: 1rem;
          font-size: 2rem;
        }
      }
    }

    .user-name,
    .user-email {
      text-align: center;
      font-size: 2.5vmin;
      padding-right: 1vw;
      padding-left: 2vw;
      margin: 0;

      @include tablet {
        font-size: 1.8rem;
      }
    }

    .user-name {
      text-transform: capitalize;
    }

    .user-progress-level-bar {
      width: 100%;
      display: flex;
      flex-direction: column;
      row-gap: 0.5vmin;

      .user-level-bar {
        position: relative;
        margin: 1vh auto 0 auto;
        width: 80%;
        height: 3vh;
        border-radius: 0.5rem;
        background-color: $lightGrey;
      }

      .actual-exp-points {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        @include tablet {
          font-size: 1.4rem;
          color: $deepMainColor;
        }
      }

      .user-green-fill {
        width: 10%;
        height: 100%;
        display: flex;
        flex-direction: column;
        background-color: $fillBar;
        border-radius: 0.5rem;

        @include tablet {
          padding: 0.5rem;
        }
      }

      .user-progress-data {
        width: 80%;
        margin: 0 auto 2vh auto;
        font-weight: 400;
        font-style: italic;
        color: $grey;
        display: flex;
        justify-content: space-between;

        @include tablet {
          padding: 0.5rem;
        }
      }
    }

    .icon {
      opacity: 0.2;
      transition: all 0.3s;
      &:hover {
        opacity: 1;
      }
    }
  }

  .user-task-done {
    width: 100%;
    height: auto;
    background-color: $White;
    border-radius: 0.5vmin;
    padding: 1vmin;

    @include tablet {
      height: 100%;
      margin: 1rem auto;
      padding: 1rem;
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
    }

    .circle-bar-content {
      width: 50%;
      margin: 1vh auto;
      @include tablet {
        width: 80%;
        margin: 1rem auto;
      }
    }

    .text-content {
      text-align: center;
      font-size: 2vmin;
      height: 8vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      @include tablet {
        font-size: 1.6rem;
        height: auto;
      }

      .text {
        font-weight: 400;
      }

      .counter {
        font-weight: 600;
        font-size: 3vmin;
        color: $grey;
        @include tablet {
          font-size: 1.6rem;
        }

        .counter-done {
          color: $mainColor;
        }
      }
    }
  }

  .content-extra-profile-data {
    width: 100%;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include tablet {
      height: 100%;
      width: 90%;
      margin-left: 10%;
      column-gap: 1rem;
    }

    .daily-record,
    .best-week-record,
    .best-streak {
      background-color: $White;
      border-radius: 0.5vmin;
      height: 11vh;
      display: grid;
      grid-template-columns: 0.5fr 1fr;
      width: 100%;
      align-items: center;

      @include tablet {
        width: 90%;
        height: auto;
        grid-template-columns: 1fr;
        border: 0.1rem solid $mainColor;
        border-radius: 0.5rem;
        padding: 0 0.5rem;
      }
    }

    .icon {
      font-size: 5vmin;
      text-align: center;
      cursor: default;

      @include tablet {
        display: none;
      }

      &.daily {
        color: $Red;
      }
      &.week {
        color: $Earth;
      }
      &.streak {
        color: $DeepBlue;
      }

      &:hover {
        color: none;
      }
    }

    .content-data {
      width: 100%;
      padding: 0 5%;
      text-align: center;
      @include tablet {
        align-items: center;
      }

      .data {
        font-weight: 700;
        display: flex;
        align-items: center;
        column-gap: 5%;
        @include tablet {
          align-items: center;
        }
      }

      .data-number {
        font-size: 2rem;
        @include tablet {
          font-size: 1.5rem;
        }
      }

      .data-text {
        font-size: 1.2rem;
        font-weight: 400;
        @include tablet {
          text-align: left;
          font-size: 1rem;
        }
      }

      .text {
        color: $DarkGrey;
        font-weight: 600;
        text-align: left;
        font-size: 1.4rem;
        padding-top: 1vh;
        @include tablet {
          text-align: center;
          padding: 0;
          font-size: 1rem;
        }
      }
    }
  }

  .content-extra-profile-data-web {
    display: flex;
    @include tablet {
      display: none;
    }
  }
  .content-extra-profile-data-responsive {
    display: none;
    @include tablet {
      display: flex;
      height: 90%;
    }
  }

  // Bottom

  .profile-bottom {
    width: 90%;
    height: 45vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr) 0.5fr;
    padding: 1vmin;
    background-color: $White;
    border-radius: 0.5vmin;
    margin: 2.5vh auto;

    @include tablet {
      display: flex;
      flex-direction: column;
      height: auto;
    }

    .month-overview {
      width: 90%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      padding: 1vmin 0.5vmin;

      @include tablet {
        font-size: 1rem;
      }

      .month-title {
        width: 90%;
        margin: 0 auto;
        font-weight: 400;
        @include tablet {
          font-size: 1.4rem;
        }
      }

      .month-name {
        font-weight: 700;
        text-transform: uppercase;
      }
    }

    .previous-month {
      display: flex;
      @include tablet {
        display: none;
      }
    }

    .monthly-activity {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      padding: 2vmin;

      @include tablet {
        padding: 0.5rem 0;
      }

      .day-of-current-month {
        position: relative;
        min-height: 6vh;
        border-radius: 0.5vmin;
        margin: 0.5vmin;
        padding: 0.2rem 1rem;
        font-style: italic;
        background: linear-gradient(45deg, $grey, $White);
        display: flex;

        @include tablet {
          width: 90%;
          min-height: 4rem;
        }
      }

      .task-quantity {
        position: absolute;
        bottom: 0;
        right: 0.5rem;
        width: 20%;
        opacity: 0.5;
        z-index: 11;

        @include tablet {
          font-size: 1.2rem;
        }
      }

      .fill-green {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 50%;
        width: 100%;
        border-radius: 0.5vmin;
        background: linear-gradient(45deg, $DarkGreen, $Green 50%);
        z-index: 10;
      }

      .day-text {
        position: absolute;
        z-index: 10;
      }
    }

    .total-tasks {
      height: 80%;
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      font-weight: 400;
      justify-content: space-around;
      align-items: center;
      text-align: center;
      @include tablet {
        width: 80%;
        margin: 0.5rem auto 1rem auto;
      }

      .total-title {
        font-size: 2.2rem;
        color: $deepMainColor;
        @include tablet {
          font-size: 1.6rem;
        }
      }

      .content-total-tasks {
        @include tablet {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          height: 100%;
        }
      }

      .data-task {
        font-size: 5vmin;
        color: $fillBar;
        @include tablet {
          font-size: 2rem;
        }
      }

      .data-title {
        font-size: 1.8vmin;
        color: $darkGrey;
        @include tablet {
          font-size: 1.2rem;
          font-weight: normal;
        }
      }
    }
  }
}
