*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  box-sizing: inherit;
  font-size: 62.5%;
}

body {
  position: relative;
  font-size: 1.8vmin;
  font-family: $font-principal;
}

// Globals

.icon {
  cursor: pointer;
  color: $DarkOcean;

  &:hover {
    color: lighten($color: $DarkOcean, $amount: 10);
  }
}

.message {
  width: 100%;
  text-align: center;
  border: 0.5vmin solid;
  border-radius: 1vmin;
  font-size: 3.2vmin;
  font-weight: bolder;
}

// App

.App {
  width: 100%;
  height: 100%;
}

.main {
  position: relative;
  display: grid;
  grid-template-columns: 10% 90%;
  grid-template-rows: 100%;
  width: 100%;
  height: 100%;
  overflow: hidden;

  @include tablet {
    grid-template-columns: 100%;
    grid-template-rows: 10% 90%;
    overflow: auto;
  }
}
