*,
*:after,
*:before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  // z-index: 1;
}

html {
  box-sizing: inherit;
  font-size: 62.5%;
}

body {
  font-size: 1.8vmin;
  font-family: $font-principal;
}

// Globals

.icon {
  cursor: pointer;
  color: $DarkOcean;

  &:hover {
    color: lighten($color: $DarkOcean, $amount: 10);
  }
}

.message {
  width: 100%;
  text-align: center;
  border: 0.5vmin solid;
  border-radius: 1vmin;
  font-size: 3.2vmin;
  font-weight: bolder;
}

// App

.App {
  overflow-x: hidden;
}

// Archive view

.bg-archive {
  position: absolute;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba($color: $DarkOcean, $alpha: 0.5);
  backdrop-filter: blur(0.5vmin);
  -webkit-backdrop-filter: blur(0.5vmin);
  z-index: 150;
}

.archive {
  position: absolute;
  position: fixed;
  top: 5vh;
  left: 20%;
  width: 60%;
  height: auto;
  padding: 0 2vw 8vh 2vw;
  max-height: 85vh;
  background-color: $White;
  border-radius: 0.5vmin;
  overflow: hidden;
  z-index: 150;

  .close-icon {
    position: absolute;
    top: 2vh;
    right: 4rem;
  }

  .archive-title {
    width: 100%;
    margin: 4vh auto;
    text-align: center;

    .icon {
      padding-right: 2%;
    }
  }

  .content-archive-tasks {
    padding: 2vmin;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    max-height: 64vh;
    background-color: $Grey;
    border-radius: 0.5vmin;
    overflow-y: scroll;
  }

  .archive-item {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 1.5vmin;
    margin: 1vmin auto;
    border-radius: 0.5vmin;
    background: $White;
    box-shadow: 0.5vmin 0.5vmin 0.5vmin #aaa;
    min-height: 10vh;
    height: auto;
    width: 100%;
    transform: rotate(0deg);
    transition: all 0.3s;
  }
  .item-title {
    display: flex;
    justify-content: space-between;
    word-wrap: break-word;
    height: fit-content;
    font-size: 2.2vmin;
    margin-bottom: 1.5vh;
    z-index: 10;

    .item-date {
      font-size: 1.5vmin;
    }
  }

  .item-tags {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    word-wrap: break-word;
    height: auto;
  }

  .item-description {
    word-wrap: break-word;
    margin-bottom: 1vh;
    z-index: 10;
  }

  .item-footer {
    display: flex;
    justify-content: space-between;
    margin-top: 1vh;
    align-items: flex-end;
  }

  .content-icons {
    display: flex;
    width: 20%;
    justify-content: space-between;
    z-index: 10;

    & svg {
      margin-left: 1vw;
    }
  }

  .tag {
    width: fit-content;
    border-radius: 0.5vmin;
    padding: 0.5vmin;
    font-size: 1.6vmin;
    font-style: italic;
    font-weight: 600;
    margin: 0.5vh 0.5vw 0.5vh 0;
    cursor: pointer;

    .icon {
      margin: 0 0.5vw;
    }
  }
}
